@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  body {
    @apply bg-[#BDD2B6] dark:bg-[#222831];
  }

  .sh-crd {
    -webkit-box-shadow: 0 0 16.5px -3.5px #000000;
    -moz-box-shadow: 0 0 16.5px -3.5px #000000;
    box-shadow: 0 0 9.5px -3.5px #000000;
  }
}
